
*{
    margin: 0;
    padding: 0;
    overflow-x:hidden;

}
html{
    scroll-behavior: smooth;
}
.bg{
    background-color:rgba(65, 4, 4, 0.98);
    
    height: 450px;

}
.page1{
    height: 620px;
}
    
.navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    cursor:pointer;

}
ul.nav-list{
    list-style: none;
    text-align: right;
    width: 2000px;
    display: flex;
    justify-content: right;
    padding: 40px;
    

}
ul.nav-list li{
    list-style: none;
    padding: 0.5px;
    
}
 ul.nav-list li a{
    text-decoration:solid;
    color: ivory;
    font-family:sans-serif;
    width: 100%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: right;
    justify-content:space-between;
    font-size: large;
    transform: translateX(0px);

    
}
button{
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateX(480px);
    border-radius: 205px;
    border: solid teal;
    background: transparent;
    color: ivory;
    justify-content: center ;
    position:relative;
    width: 200px;
    overflow:hidden;
    font-weight: bolder;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    letter-spacing: 3px;
    left: -490px;
}
span{
    background: teal;
    height: 100%;
    width: 0px;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.logo{
    width: 200%;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.logo img{
    width: 160px;
    color: white;
    
}
.content {
    margin-left: 0px;
    margin-right: 0px;
    

    overflow: hidden;
    font-size: 6px;
    margin-top: 80px;
    color: ivory;
    font-family: sans-serif;
    transform: translateX(-20px);
    width:100%;
    position:absolute;
    top: 300px;
    left:10px;
    text-align: center;
    word-spacing: 7px;
    letter-spacing: 1px;

}
.content h1{
    transform: translateY(80px);
    height: 100px;
    position: relative;
}
.bg-image{
    height: 250px;
    background-color:rgba(65, 4, 4, 0.98);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    margin: 29%;
    padding: 25%;
    width: 50%;
    margin-top: 1px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;

    padding-bottom: 0px;
    padding-top: 100px;
    padding-right: 0px;
    padding-left: 0px;
    width: auto;
    height: 500px;



}

.content0{
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: centre;
    text-align: center;
    
}
hr{
    margin-top: 0px;
}
.TypeMessage{
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    color:rgb(223, 214, 223);
    height: 480px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    left: 0px;
    top: 50px;
    padding-top: 0px;
    margin-top: 0px;
    display: block;


}
input[type=text]{
    width: 500px;
    height: 100px;
    text-align: center;
}

.bg-image h1{
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(234, 228, 228);

}
.TypeMessage h2{
    font-size: 15px;
    font-family: sans-serif;
    width: 600px;
    font-weight: 900%;
    text-align: left;
    margin-left: 200px;
    margin-right: 20px;
    left: 20%;


}
.TypeMessage button{
    height: 50px;
    margin-top: 5%;
    margin-left: 100px;
    padding-bottom: 10px;
    border-radius: 205px;
    border: solid rgb(219, 231, 57);

    background: transparent;
    color: ivory;
    justify-content: center ;
    position:relative;
    width: 200px;
    overflow:hidden;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    font-size: large;
    align-items: center;
    transform: translateX(-50px);
    justify-content: center;
    border-width: 5px;

    
    border-left-width: 0px;
    left: 0px;
    padding-left: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}
.TypeMessage button span{
    background: rgb(219, 231, 57);
    height: 100%;
    width: 0px;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.TypeMessage button:hover span{
    width: 100%;
}
.TypeMessage button:hover{
    border:none;
}

.TypeMessage p{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    transform: translateX(-5px);


}

.TypeMessage-input{
    width:600px ;
    height:140px;
    overflow-y: scroll;
}

.contact{
    font-family: sans-serif;
    font-weight: bold;
}
.contactus{
    text-align: center;

}
h4{
    text-align: center;
    font-size: 30px;
}
h5{
    margin-top: 30px;
    font-size: 20px;
    padding: 20px;
}
h6{
    font-size: 20px;
    padding: 20px;
}
p{
    padding: 2px;
    cursor: pointer;

}
.text-footer{
    text-align: center;
    padding-top: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-size: 12px;
}
@media only screen and (max-width:1140px){
        .nav-list{
            flex-direction: column;
        }  
        .h-nav{
            height: 200px;
        }
        ul.nav-list li a{
                
        transform: translateX(75px);


        }
        .TypeMessage{
            left: 0px;
            margin-left: 0px;
        }
        .bg-image h1{
            padding-right: 10px;
            margin-left: 0px;
            margin-right: 0px;
            
        
        }
        .TypeMessage h2{
            margin-left: 0px;
            width: auto;
        }

        
}
